---
interface Props {
  title: string;
  cardTitle: string;
  href: string;
}

const { title, cardTitle, href } = Astro.props;
import Card from "../components/Card.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Url shortener made with astro" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="none" />
  </head>
  <body>
    <main>
      <h1 class="text-gradient page-title mt-[10vh]">Url Shortener</h1>
      <Card title={cardTitle} href={href} />
      <slot />
    </main>
    <style is:global>
      :root {
        --accent: #60e6dd;
        --accent-light: #cf38c0;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          var(--accent),
          var(--accent-light) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      .default-style {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 1px;
        background-color: #23262d;
        background-image: none;
        background-size: 400%;
        border-radius: 7px;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
      }
      main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
      }
      h1.page-title {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
      }
      .text-gradient {
        background: #4fbacf;
        background: linear-gradient(
          to right,
          var(--accent) 7%,
          var(--accent-light) 92%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      input {
        width: 60%;
        padding: 5px 20px 10px 20px;
        margin-top: 1vh;
        border-radius: 4px;
        border: 1px solid #ccc;
        color: black;
        font-size: large;
      }
      input::placeholder {
        font-weight: 500;
        font-size: 0.9rem;
      }
      form > div {
        padding-bottom: 25px;
        border-bottom: 1px solid #2a2e36;
      }
      label {
        text-align: center;
      }
      .action-btn {
        width: 45%;
        padding: 5px 10px 5px 10px;
        margin-top: 15px;
        border-radius: 4px;
        border: 1px solid #ccc;
        color: white;
        font-weight: 500;
        font-size: 0.9rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        text-decoration: none;
        border-radius: 8px;
        color: white;
        background-color: #23262d;
        opacity: 0.8;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
      }
      .action-btn:is(:hover, :focus-within) {
        background-position: 0;
        background-image: var(--accent-gradient);
      }
      .action-btn:is(:hover, :focus-within) p {
        color: rgb(var(--accent-light));
      }
      p {
        margin: 0;
        font-size: 1.1rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      }
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </body>
</html>
